{% load crispy_forms_tags %}
{% load static %}
<form enctype="multipart/form-data" action="#" method="POST" autocomplete="off">
    <h3>
        <span class="text-capitalize"> {{ header }}</span>
    </h3>
    <div class="row">
        {% for field in form %}
            <div class="pt-1">
                {{ field|as_crispy_field }}
            </div>
        {% endfor %}
    </div>
<form>

<script src="{% static 'main/js/view.js' %}"></script>

{% block js %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("a[class*=fancybox]").fancybox({
        clickSlide: false, // disable close on outside click
        touch: false, // disable close on swipe
        });
    });
    </script>
{% endblock %}
