div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    margin-top:20px !important;
}


.main-sidebar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .main-sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

